article {
  margin-bottom: 1vw;
  padding: 0.1vw;
}

.h-100 {
  width: 20vw;
  height: 70vh;
  border-radius: 20px;
  border-style: double;
  border-color:#6d0359;
  border-width: 3px;
  background-color: #decbf0;
  padding: 10px;
  margin: 5px;
  box-shadow: 0.7vw 0.3vw 0.3vw #6d0359;
}

.card-head {
  font-size: 1.2vw;
  margin-bottom: 30px;
  font-weight: bold;
  border-style: solid;
  border-color: #cca8ee;
  border-radius: 20px;
}

.card-img {
  width: 100%;
  height: 18vw;
  border: 4px double #92D0CC;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.card-body {
  font-size: 1em;
  object-fit:fill;
}
article p {
  font-size: 11px;
  margin: auto;
  display: inline-block;
  margin-bottom: .5rem;
  background-color:#92D0CC;
  padding: 7px;
  border: 2px solid #6d0359;
  border-radius: 5px;
  font-size: 0.7vw;
  font-weight: bold;
}

article p:last-of-type {
  font-size: 11px;
  margin: auto;
  display: inline-block;
  margin-bottom: .5rem;
  background-color:#b292d0;
  padding: 7px;
  border: 2px solid #4f405f;
  color: #4f405f;
  border-radius: 5px;
  font-size: 0.7vw;
  font-weight: bold;
  margin-top: 10px;
}


.fave-button {
  width: .2rem .1vw;
  border: none;
  outline: none;
  color: white;
  background:black;
  cursor: pointer;
  position: relative; 
  z-index: 0;
  border-radius: 10px;
  margin: .2rem 0.3vw;

}

.fave-button:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  margin: .2rem .1vw;
}


.fave-button:active{
  color: #000;
}

.fave-button:active:after{
  background: transparent;
}
.fave-button:hover:before{
  opacity: 1;
}

.fave-button:after{
  z-index: -1;
  content: '';
  position: absolute;
  width: .2rem .1vw;
  margin: .2rem .1vw;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}